*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

header h1{
    margin-left: 40px;
    cursor: pointer;
}

nav{
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 100px;
}

ul li{
    margin: 20px;
    cursor: pointer;
}
