*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    overflow-y: auto;
    height: 100%;
    font-family: Arial, sans-serif;
	background: #353839;
}

::selection{
	background: #6D5D6E;
}

.navbar {
	background-color: #262424;
	color: #a1ff14;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100px;
	height: 100vh;
	transition: width 1s ease;
	overflow: hidden;
	position: fixed;
}

.navbar:hover{
	width: 275px;
}

.nav-no-hover{
	display: flex;
	flex-direction: column;
	margin-bottom: 200px;
	gap: 40px;
}

.navbar:hover .logo {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    cursor: pointer;
	border-radius: 50%;
	background: #262424;
	position: relative;
	z-index: 1000;
}

.navbar .nav-links {
    list-style: none;
    display: none;
	margin: 0 auto;
}

.navbar .nav-links li {
    margin: 1px 15px 5px 15px;
}

.navbar .nav-links button {
    margin: 0 auto;
}

.navbar .nav-links a {
    color: #a1ff14;
    text-decoration: none;
	font-size: 25px;
}

.navbar .nav-links a{
	padding: 10px;
}

.nav-list{
	text-align: center;
}

.navbar:hover .nav-no-hover{
	display: none;
}

.navbar:hover .nav-links{
	display: flex;
	flex-direction: column;
}

a{
	font-weight: bold;
}

.navbar .nav-links #login{
	border: 1px solid #a1ff14;
	border-radius: 20px;
}

.navbar .nav-links a:hover{
	color: #c0ff14;
}

.button {
	width: 110px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
	background-color: #a1ff14;
	border-radius: 30px;
	color: rgb(19, 19, 19);
	font-weight: 600;
	border: none;
	position: relative;
	cursor: pointer;
	transition-duration: .2s;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
	padding-left: 8px;
	transition-duration: .5s;
}

.svgIconHome {
	height: 20px;
	transition-duration: 1.5s;
	background-color: #a1ff14;
}

.svgIconExplore {
	height: 25px;
	transition-duration: 1.5s;
	background-color: #a1ff14;
}

.svgIconHomeOG {
	width: 50px;
	height: 50px;
	background-color: #a1ff14;
	border-radius: 45%;
	margin: 10px auto;
	padding: 10px;
}

.svgIconExploreOG {
	width: 50px;
	height: 50px;
	background-color: #a1ff14;
	border-radius: 45%;
	margin: 10px auto;
	padding: 10px;
}

.svgIconSignUpOG {
	width: 50px;
	height: 50px;
	background-color: #a1ff14;
	border-radius: 45%;
	margin: 10px auto;
	padding: 10px;
}

.bell path {
	fill: rgb(19, 19, 19);
}

.button:hover {
	background-color: #c0ff14;
	transition-duration: .5s;
}

.button:active {
	transform: scale(0.97);
	transition-duration: .2s;
}

.button:hover .svgIconExplore {
	transform: rotate(250deg);
	transition-duration: 1.5s;
}

.button:hover .svgIconHome {
	transform: scale(1.2);
	transition-duration: 1.5s;
	visibility: visible;
}

.Btn-Container {
	display: flex;
	width: 200px;
	height: fit-content;
	background-color: #1d2129;
	border-radius: 40px;
	box-shadow: 0px 5px 7px #bebebe;
	justify-content: space-between;
	align-items: center;
	border: none;
	cursor: pointer;
}

.icon-Container {
	width: 45px;
	height: 45px;
	background-color: #a1ff14;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 3px solid #1d2129;
}

.text {
	width: calc(190px - 35px);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 1.1em;
	letter-spacing: 1.2px;
}

.icon-Container svg {
	transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
	transition-duration: 1.5s;
	animation: arrow 1s linear infinite;
}

@keyframes arrow {
	0% {
	  opacity: 0;
	  margin-left: 0px;
	}
	100% {
	  opacity: 1;
	  margin-left: 10px;
	}
}
  
.index-para{
	text-align: left;
	color: #d3c8c2;
	font-weight: 800;
	font-size: 50px;
	margin: 20px 120px 0 120px;
}
.cssbuttons-io-button {
	background: #262424;
	color: white;
	font-family: inherit;
	padding-left: 1.2em;
	font-size: 17px;
	font-weight: 500;
	border-radius: 0.9em;
	border: none;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 1.6em -0.6em #a1ff14;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	top: 20px;
	left: 500px;
	padding-right: 3.3em;
	cursor: pointer;
  }
  
  .cssbuttons-io-button .css-icon {
	background: white;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	box-shadow: 0.1em 0.1em 0.6em 0.2em #a1ff14;
	right: 0.3em;
	transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .css-icon {
	width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .css-icon svg {
	width: 1.1em;
	transition: transform 0.3s;
	color: black;
  }
  
  .cssbuttons-io-button:hover .css-icon svg {
	transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .css-icon {
	transform: scale(0.95);
  }
  .horizontal-rule{
	height: 10px;
	background: #d3c8c2;
  }
  .navbar:hover + .index-content{
	margin-left: 200px;
	transition: 1s ease;
  }